.contact-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/pokój zdjęcie.jpg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100%;
}